body
{
	background-color: #f1f1f1;
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
	
}

*{ box-sizing: border-box; }

.container
{
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
}

.nav
{
	position: fixed;
	z-index: 100;
	display: none;
	flex-flow: row nowrap;
	width: 100%;
	height: 50px;
	background-color: #000000;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.menu
{
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 320%;
	position: relative;
}

.menu:hover
{
	background-color: #dedede;
}

nav
{
	position: fixed;
	z-index: 100;
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	height: 50px;
	background-color: #000000;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.dom
{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	font-size: 18px;
	color: #fff;
	width: 100px;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.dom:hover
{
	color: #000;
	background-color: #dedede;
}

.zsp
{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	font-size: 18px;
	color: #fff;
	width: 220px;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.zsp:hover
{
	color: #000;
	background-color: #dedede;
}

.wyc
{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	font-size: 18px;
	color: #fff;
	width: 160px;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.wyc:hover
{
	color: #000;
	background-color: #dedede;
}

.kon
{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	font-size: 18px;
	color: #fff;
	width: 140px;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.kon:hover
{
	color: #000;
	background-color: #dedede;
}

.wie
{
	display: block;
	text-align: center;
	padding: 5px;
	font-size: 18px;
	color: #fff;
	width: 140px;
	cursor: pointer;
	line-height: 225%;
	position: relative;
	transition: all .2s ease-in-out;
}

.wie:hover
{
	color: #000;
	background-color: #dedede;
}

ul
{
	position: relative;
	display: none;
	top: 5px;
	left: -5px;
	list-style-type: none;
	margin: 0;
	width: 220px;
	padding: 0;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

a
{
	text-decoration: none;
	color: #fff;
}

a:hover{ color: #000; display: block;}

.wie:hover ul
{
	display: block;
}

ul > li
{
	text-align: left;
	line-height: 245%;
	width: 220px;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	height: auto;
	background-color: #f1f1f1;
	transition: all .2s ease-in-out;
}

ul > li:hover
{
	background-color: #000;
	color: #fff;
}

.search
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0px;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.search:hover
{
	background-color: #f44336;
}

.org
{
	width: 100%;
	min-height: 690px;
}

h2
{
	font-size: 32px;
	font-weight: 300;
	text-align: center;
	margin-top: 80px;
	letter-spacing: 2px;
}

h3
{
	font-style: italic;
	font-size: 16px;
	color: grey;
	text-align: center;
	font-weight: 400;
}

p
{
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

.prof
{
	width: 58%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

.flex1
{
	display: flex;
	flex-flow: column nowrap;
	width: 30%;
}

.p1
{
	text-align: center;
	font-size: 18px;
}

.p2
{
	text-align: center;
	font-size: 18px;
}

.p3
{
	text-align: center;
	font-size: 18px;
}

.img1
{
	margin: 3.2%;
	margin-top: 1.5%;
}

.content
{
	width: 100%;
	min-height: 880px;
	background-color: #000;
	color: #fff;
}

table
{
	margin-left: auto;
	margin-right: auto;
	width: 55%;
	background-color: #f1f1f1;
	color: grey;
}

td
{
	padding-left: 15px;
	padding: 10px;
	border-bottom: 1px solid lightgrey;
}

mark
{
	padding: 5px;
	background-color: #f44336;
	color: #ffffff;
}

.circle
{
	float: right;
	text-align: center;
	color: #fff;
	line-height: 135%;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: black;
}

.pictures
{
	display: flex;
	margin-top: 30px;
	width: 55%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	color: #000;
}

.picture1
{
	width: 255px;
	height: auto;
	background-color: #f1f1f1;
}

.picture
{
	width: 255px;
	margin-left: 2%;
	height: auto;
	background-color: #f1f1f1;
}

h4
{
	padding-left: 15px;
	margin-top: 15px;
}

h5
{
	padding-left: 15px;
	font-weight: 400;
	color: grey;
	font-size: 16px;
}

#p4
{
	width: 88%;
	margin-top: -10px;
}

.img2
{
	transition: all .2s ease-in-out;
}

.img2:hover
{
	filter: brightness(65%);
}

button
{
	margin-left: 15px;
	margin-bottom: 15px;
	width: 40%;
	height: 40px;
	background-color: #000;
	border: 1px solid #000;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

button:hover
{
	background-color: #dedede;
	border: 1px solid  #dedede;
	color: #000;
}

.flex
{
	display: flex;
	flex-flow: row nowrap;
}

.kontakt
{
	width: 100%;
	min-height: 450px;
	padding-top: 64px;
	padding-bottom: 64px;
	padding-left: 20%; 
	padding-right: 20%; 
	color: black;
}

#h2
{
	margin-top: 0px;
}

.con
{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
}

.con1
{
	width: 50%;
	display: flex;
	flex-flow: column nowrap;
}

.positionI
{
	display: flex;
	flex-flow: row nowrap;
	line-height: 200%;
}

.con2
{
	display: flex;
	flex-flow: column nowrap;
	width: 50%;
}

.positionInput
{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
}

input[type="name"], [type="email"]
{
	width: 50%;
	height: 35px;
	padding: 5px;
	margin: 2px;
	border: 1px solid lightgrey;
}

input[type="text"]
{
	width: 99%;
	height: 35px;
	padding: 5px;
	margin-top: 10px !important;
	margin: 2px;
	border: 1px solid lightgrey;
}

input:focus
{
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.conButt
{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
}

#button1
{
	width: 15%;
	font-size: 1.5vw;
	text-transform: uppercase;
}

footer
{
	wdith: 100%;
	height: 250px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: #292929;
}
.social
{
	word-spacing: -10px;
}

.icon-facebook-squared{ transition: all .2s ease-in-out; opacity: 0.6;}
.icon-snapchat{ transition: all .2s ease-in-out; opacity: 0.6;}
.icon-pinterest{ transition: all .2s ease-in-out; opacity: 0.6;}
.icon-instagram{ transition: all .2s ease-in-out; opacity: 0.6;}
.icon-linkedin{ transition: all .2s ease-in-out; opacity: 0.6;}
.icon-twitter{ transition: all .2s ease-in-out; opacity: 0.6;}

.icon-facebook-squared:hover{ opacity: 1; }
.icon-snapchat:hover{ opacity: 1; }
.icon-pinterest:hover{ opacity: 1; }
.icon-instagram:hover{ opacity: 1; }
.icon-linkedin:hover{ opacity: 1; }
.icon-twitter:hover{ opacity: 1; }

@media only screen and (max-width: 600px)
{
	nav
	{
		display: flex;
		flex-flow: column nowrap;
		height: auto;
	}

	.dom
	{
		width: 100%;
		height: 40px;
	}

	.zsp
	{
		width: 100%;
		height: 40px;
	}

	.wyc
	{
		width: 100%;
		height: 40px;
	}

	.kon
	{
		width: 100%;
		height: 40px;
	}

	.wie
	{
		width: 100%;
	}

	ul
	{
		position: relative;
		width: 100%;
		box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
	}
	
	ul > li
	{	
		width: 101.6%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	#img
	{
		margin-top: 210px;
	}
	
	.prof
	{
		flex-flow: column nowrap;
		width: 100%;
	}
	
	.flex1
	{
		width: 100%;
		justify-content: center;
		margin: 2%;
		align-items: center;
	}
	
	.img1
	{
		width: 60%;
		height: 60%;
		margin: 3%;
	}
	
	p
	{
		width: 80%;
	}
	
	table
	{
		width: 90%;
	}

	.pictures
	{
		flex-flow: column nowrap;
		width: 100%;
		height: auto;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
	}
	
	.picture1
	{
		width: 90%;
		height: 180%;
	}
	
	.picture
	{
		width: 90%;
		height: 180%;
		margin-left: 0%;
		margin-top: 5%;
	}
	
	#p4
	{
		margin-left: 15px;
	}
	
	.img2
	{
		height: 300px;
	}
	.kontakt
	{
		
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.con
	{
		width: 100%;
		flex-flow: column nowrap;
	}
	
	.con1
	{
		width: 100%;
		height: auto;
		display: flex;
		flex-flow: column nowrap;
	}
	
	.positionI
	{
		line-height: 150%;
		margin: 5px;
		font-size: 18px;
	}
	
	.con2
	{
		width: 100%;
		height: auto;
		display: flex;
		flex-flow: column nowrap;
	}
	
	.positionInput
	{
		flex-flow: column nowrap;
	}
	
	input[type="name"], 
	[type="email"]
	{
		width: 100%;
		margin: 5px;
	}
	
	input[type="text"]
	{
		width: 100%;
		margin-left: 5px;
	}
	#button1
	{
		width: 30%;
		font-size: 18px;
	}
}





