body
{
	background-color: #f1f1f1;
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
	
}

*{ box-sizing: border-box; }

/*pojemnik */
.container
{
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
}

/*nawigacja strony*/
nav
{
	position: fixed;
	z-index: 100;
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	height: 50px;
	background-color: #000000;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

/*przycisk szukaj*/
.search
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	z-index: 1;
	height: 50px;
	position: absolute;
	right: 0px;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.search:hover
{
	background-color: #f44336;
}

a
{
	text-align: center;
	text-decoration: none;
	color: #fff;
	width: 100%;
	height: auto;
}

a:hover{ color: #000; display: block;}

/*strona główna*/
.home
{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	font-size: 18px;
	color: #fff;
	width: 100px;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.home:hover
{
	color: #000;
	background-color: #dedede;
}

/*organizatorzy*/
.zsp
{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	font-size: 18px;
	color: #fff;
	width: 220px;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.zsp:hover
{
	color: #000;
	background-color: #dedede;
}

/*wycieczka*/
.wyc
{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	font-size: 18px;
	color: #fff;
	width: 160px;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.wyc:hover
{
	color: #000;
	background-color: #dedede;
}

/*kontakty*/
.kon
{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	font-size: 18px;
	color: #fff;
	width: 140px;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.kon:hover
{
	color: #000;
	background-color: #dedede;
}

/*więcej*/
.wie
{
	display: block;
	text-align: center;
	padding: 5px;
	font-size: 18px;
	color: #fff;
	width: 140px;
	cursor: pointer;
	line-height: 225%;
	position: relative;
	transition: all .2s ease-in-out;
}

.wie:hover
{
	color: #000;
	background-color: #dedede;
}

.wie:hover ul
{
	display: block;
}


/*zawartość więcej*/
ul
{
	position: relative;
	display: none;
	top: 5px;
	left: -5px;
	list-style-type: none;
	margin: 0;
	width: 220px;
	padding: 0;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

ul > li
{
	text-align: left;
	line-height: 245%;
	width: 220px;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	height: auto;
	background-color: #f1f1f1;
	transition: all .2s ease-in-out;
}

ul > li:hover
{
	background-color: #000;
	color: #fff;
}

/*nawigacja strony*/
.nav
{
	position: fixed;
	z-index: 1;
	display: none;
	flex-flow: row nowrap;
	width: 100%;
	height: 50px;
	background-color: #000000;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

/*odnośnik do strony głównej dla urządzeń mobilnych*/
.homeForMobile
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	z-index: 1;
	height: 50px;
	position: relative;
	left: 0;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.homeForMobile:hover
{
	background-color: #dedede;
}

/*ikona do rozwijania mobilnego menu*/
.menu
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	z-index: 1;
	height: 50px;
	position: absolute;
	right: 0;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.menu:hover
{
	background-color: #dedede;
	color: #292929;
}

/*klasa odpowiadająca za przesunięcie menu w dół*/
.toDown
{
	position: absolute;
	width: 100%;
	height: auto;
}

.toDown.visible
{
	position: absolute;
	top: 11.2em;
}

.toDown.visibleWiecej
{
	position: absolute;
	top: 20.4em;
}

/*menu w wersji mobilnej*/
.hamburger
{
	display: none;
}

.hamburger.visible
{
	position: absolute;
	top: 3.1em;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

/*elementy menu*/
.mobile
{
	background-color: #dedede;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 2.8em;
	transition: all .2s ease-in-out;
}

.mobile a 
{ 
	display: flex; 
	justify-content: center;
	align-items: center;
	color:#000; 
	width: 100%; 
	height: 2.8em;}

.mobile:hover { background-color: #000; }

.mobile a:hover
{
	color: #fff;
}

/*rozwijany element "Wiecej"*/
.mobileWiecej
{
	background-color: #dedede;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 2.8em;
	transition: all .2s ease-in-out;
}

.mobileWiecej:hover
{
	background-color: #000;
	cursor: pointer;
	color: #fff;
}

/*elementy "Więcej" w wersji mobilnej*/
.ul
{
	display: none;
}

.ul.visible
{
	display: flex;
	flex-flow: column nowrap;
	position: absolute;
	top: 11.2em;
	width: 100%;
}

.ul .li
{
	background-color: #000;
	color: #fff;
	width: 100%;
	height: 100%;
}

/*zdjęcie prezentujące miejsca wycieczek*/
.mainImage
{
	width: 100%;
	height: 57em;
}

/*pojemnik zwiazany z organizacją*/
.org
{
	width: 100%;
	min-height: 690px;
	margin-bottom: -95px;
}

/*napis "ORGANIZATORZY"*/
h2
{
	font-size: 32px;
	font-weight: 300;
	text-align: center;
	margin-top: 50px;
	letter-spacing: 2px;
}

/*napis "Uwielbiamy miejsca, które oferujemy"*/
h3
{
	font-style: italic;
	font-size: 16px;
	color: grey;
	text-align: center;
	font-weight: 400;
}

/*informacja o stronie*/
p
{
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

/*pojemnik z iformacjami o organizatorach*/
.prof
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 56.8%;
	margin-left: auto;
	margin-right: auto;
}

/*avatary organizatorów*/
.flex1
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;	
}

/*imie i nazwisko organizatorów*/
.p1
{
	text-align: center;
	font-size: 18px;
}

.p2
{
	text-align: center;
	font-size: 18px;
}

.p3
{
	text-align: center;
	font-size: 18px;
}

/*zdjęcia organizatorów*/
.img1
{
	width: 90%;
	height: 90%;
}

/*pojemnik z informacjami o wycieczkach*/
.content
{
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	min-height: 880px;
	background-color: #000;
	color: #fff;
	margin-top: 46px;
}

/*informacja ilości dostępnych wycieczek w danych miesiącach*/
table
{
	margin-left: auto;
	margin-right: auto;
	width: 55%;
	background-color: #f1f1f1;
	color: grey;
}

td
{
	padding-left: 15px;
	padding: 10px;
	border-bottom: 1px solid lightgrey;
}

mark
{
	padding: 5px;
	background-color: #f44336;
	color: #ffffff;
}

/*ilość dostępnych wycieczek*/
.circle
{
	float: right;
	text-align: center;
	color: #fff;
	line-height: 135%;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: black;
}

/*pozycjonowanie zdjęć*/
.pictures
{
	display: flex;
	flex-flow: row nowrap;
	margin-top: 30px;
	margin-bottom: 58px;
	width: 55vw;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	color: #000;
}

/*pojemniki z wycieczkami*/
.picture
{
	display: flex;
	width: 33.33%;
	flex-flow: column nowrap;
	background-color: #f1f1f1;
	margin: 5px;
}

/*zjęcia wycieczek*/
.img2
{
	transition: all .2s ease-in-out;
}

.img2:hover
{
	filter: brightness(65%);
}

/*nagłówek wycieczki*/
h4
{
	padding-left: 15px;
	margin-top: 15px;
}

/*data wycieczki*/
h5
{
	padding-left: 15px;
	font-weight: 400;
	color: grey;
	font-size: 16px;
}

/*informacja odnonie wycieczki*/
#p4
{
	width: 88%;
	margin-top: -10px;
}

/*przycisk "Kup teraz"*/
button
{
	margin-left: 15px;
	margin-bottom: 15px;
	width: 8em;
	height: 40px;
	background-color: #000;
	border: 1px solid #000;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

button:hover
{
	background-color: #dedede;
	border: 1px solid  #dedede;
	color: #000;
}

.flex
{
	display: flex;
	flex-flow: row nowrap;
}

/*część związana z kontaktem*/
.kontakt
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 25em;
	margin-top: 50px;
	color: black;
}

/*nagłówek "KONTAKT"*/
#h2
{
	margin-top: 0px;
}

/*kontener na dane i formularz*/
.con
{
	width: 100%;
	display: flex;
}

/*pozycjonowanie lewej strony*/
.position
{
	width: 50%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
}

/*dane kontaktowe znajdujące się po lewej stronie*/
.con1
{
	width: 50%;
	display: flex;
	flex-flow: column nowrap;
}

/*pozycjonowanie danych*/
.positionI
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	width: 100%;
	line-height: 200%;
}

/*pozycjonowanie prawejstrony*/
.position2
{
	width: 50%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

/*formularz kontaktowy znajdujący się po prawej stronie*/
.con2
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 50%;
}

/*pozycjonowanie*/
.positionInput
{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

/*miejsce na wprowadzenie imienia, nazwiska i maila */
input[type="name"], [type="email"]
{
	width: 49.4%;
	height: 35px;
	padding: 5px;
	border: 1px solid lightgrey;
}

/*miejsce na wprowadzenie wiadomośći*/
input[type="text"]
{
	width: 100%;
	height: 35px;
	padding: 5px;
	margin-top: 10px !important;
	margin: 2px;
	border: 1px solid lightgrey;
}

input:focus
{
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

/*pozycjonowanie przycisku "WYŚLIJ"*/
.conButt
{
	display: flex;
	justify-content: flex-end;
	width: 50%;
	margin-bottom: 50px;
}

/*przycisk "WYŚLIJ"*/
#button1
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 8em;
	font-size: 1.4em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*stopka strony*/
footer
{
	width: 100%;
	height: 250px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: #292929;
}

/*social media*/
.social
{
	word-spacing: -10px;
}

.social .demo-icon
{
	transition: all .2s ease-in-out; 
	opacity: 0.6;
}

.social .demo-icon:hover
{
	opacity: 1;
}

@media screen and (max-width: 1800px)
{
	.mainImage
	{
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width: 1200px)
{
	p
	{
		width: 87.2%;
		margin-left: auto;
		margin-right: auto;
		text-align: justify;
	}
	.prof { width: 90%; }
	table { width: 87%; }
	.pictures { width: 88%; }
	.con1 { width: 85%; }
	.con2 { width: 85%; }
	.conButt { width: 85%; }
}

@media screen and (max-width: 800px)
{
	nav { display: none; }

	.nav { display: flex; }

	.home
	{
		width: 100%;
		height: 40px;
	}

	.zsp
	{
		width: 100%;
		height: 40px;
	}

	.wyc
	{
		width: 100%;
		height: 40px;
	}

	.kon
	{
		width: 100%;
		height: 40px;
	}

	.wie { width: 100%; }

	ul
	{
		position: relative;
		width: 100%;
		box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
	}
	
	ul > li
	{	
		width: 101.6%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	#img { margin-top: 50px; }

	.prof
	{
		flex-flow: column nowrap;
		width: 100%;
	}
	
	.flex1
	{
		width: 100%;
		justify-content: center;
		margin: 2%;
		align-items: center;
	}
	
	.img1
	{
		width: 60%;
		height: 60%;
		margin: 3%;
	}
	
	p { width: 80%; }
	
	.content { margin-top: 123px; }

	table { width: 90%; }

	.pictures
	{
		flex-flow: column nowrap;
		width: 100%;
		height: auto;
		justify-content: center;
		align-items: center;
		margin-bottom: 60px;
	}
	
	.picture1
	{
		width: 90%;
		height: 180%;
	}
	
	.picture
	{
		width: 90%;
		height: 180%;
		margin-left: 0%;
		margin-top: 5%;
	}
	
	#p4 { margin-left: 15px; }
	.img2 { height: 300px; }

	.kontakt
	{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 150px;
	}

	.con
	{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		flex-flow: column nowrap;
	}

	.position
	{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.con1
	{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 65%;
		height: auto;
		display: flex;
		flex-flow: column nowrap;
	}
	
	.positionI
	{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		height: auto;
		line-height: 150%;
		margin: 5px;
		font-size: 18px;
	}
	
	.position2
	{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.con2
	{
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		width: 65%;
		height: auto;
	}
	
	.positionInput 
	{ 
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	
	input[type="name"], 
	[type="email"]
	{
		margin: 4px;
		width: 100%;
	}
	
	input[type="text"]
	{
		width: 100%;
	}

	.conButt
	{
		display: flex;
		justify-content: center;
		width: 100%;
	}
	#button1
	{
		display: flex;
		width: 65%;
		font-size: 18px;
		margin-bottom: 80px;
		margin-left: 0;
	}
}





